[Desktop Entry]
Name=Fegeya Prism
Exec=prism %U
Icon=/usr/share/pixmaps/prism/prism.png
Type=Application
Keywords=web;browser;internet;
Categories=GTK;GNOME;Network;Web;WebBrowser;
Terminal=false
